:root {
  --topic-margin-top: 400px;
  --topic-padding-bottom: 400px;
  --luffy-poster-height: 600px;
}

body {
  background-color: black;
  color: white;
}

h2 {
  font-size: 5rem;
}

.container{
  height: 4000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* border: 1px white solid; */
}

.container-top {
  height: 4000px;
}

.container-top-topic {
  margin: 0;
  margin-top: var(--topic-margin-top);
  padding-bottom: var(--topic-padding-bottom); 
  /* border: 1px blue solid; */
}

.background-img {
  width: 1800px;
  position: sticky;
  top: 0;
  /* margin-top should minus topic-margin-top and topic-padding-bottom and topic-font-height */
  /* not sure how to calculate font height, so use 100px for now. */
  margin-top: calc(-1 * (var(--topic-margin-top) + var(--topic-padding-bottom) + 100px));
  z-index: -2;
}

.poster-img {
  height: var(--luffy-poster-height);
  position: sticky;
  top: 200px;
}

.front-poster-img {
  margin-top: calc(-1 * var(--luffy-poster-height));
  z-index: -2;
  /* fulfill left to right */
  /* clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%); */
  /* fulfill top to bottom */
  clip-path: polygon(100% 0%, 100% 0%, 0% 0%, 0% 0%);
}

.behind-poster-img {
  z-index: -3;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 200px;
  opacity: 0;
  margin-bottom: 500px;
  /* padding-top: 300px; */
  /* border: 1px pink solid; */
}

.feature > p {
  font-size: 3rem;
  margin: auto;
  /* border: 1px yellow solid; */
}
